extends layout

block content
  block link
    -var selected = 'MENTORS';
  h1= "MENTORSHIP"
  p On your path to success, a mentor helps you to make important decisions, introduce you to opportunities and support you every step of the way. Here, we want to make finding a mentor easy than ever. Look below to find a list of mentors within the computer science and engineering field.
  img(src="/images/mentorMentee.jpg" id="mentoransmentee")
