extends layout

block content
  block link
    -var selected = 'OPPORTUNITIES';
  h1= "OPPORTUNITIES"

  h4= "Learn about jobs, internships, and travelling to conferences around the country with us."

  img(src="/images/opportunitiesImage.jpg" id="opportunitiesImage")
