extends layout

block content
  block link
    -var selected = 'TEAM';
  h1= "Team Members"

  h3= "Meet our amazing team. Each members is brilliant, passionate about their field of study, and always willing to help.  "
  img(src="/images/teammembers.jpg" id="teammembers")

  .RSSFeedteam
    - var count = 0;
          each r in TeamDatabase
            if count < 20
               .RSSItemsteam
                  p= r.uname + "  |  " + r.em + "  |  " + r.ph
                  br
                  - count++;
