body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F7F9EC;

}

.RSSFeed {
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
  border-color: black;
  border-style: solid;
  border-width: thin;
  width: auto;
  font-size: 20px;
}

.RSSItems {
  text-align: justify;
}

.RSSFeedteam {
  padding-top: 30px;
  padding-left: 100px;
  border-color: black;
  border-style: solid;
  border-width: thin;
  width: 40%;
  text-align: left;
  font-size: 22px;
}

.RSSItemsteam {
  text-align: left;
}

.RSSFeedmentors {
  padding-top: 30px;
  padding-left: 100px;
  border-style: solid;
  border-color: black;
  width: 40%;
  text-align: left;
  font-size: 20px;
}

.RSSItemsmentors {
  text-align: left;
  font-size: 20px;
}

.RSSFeedmentorsSearch {
  padding-top: 30px;
  padding-left: 100px;
  text-align: left;
  font-size: 20px;
}

.RSSItemsmentors {
  text-align: left;
  font-size: 20px;
}

.RSSFeedopportunities {
  padding-top: 30px;
  padding-left: 100px;
  border-style: solid;
  border-color: black;
  width: 60%;
  text-align: left;
  font-size: 20px;
}

.RSSItemsopportunities {
  text-align: left;
}
.feedflare {
  //border: style-solid;
  border: 3px;
  border-color: black;
  text-align: left;
}

.RSSFeed {
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
  border-color: black;
  border-style: solid;
  border-width: thin;
  width: auto;
}

.RSSItems {
  text-align: justify;
}

#homeImage{
  width: available;
  height: auto;
}

#mec {
  width: 70px;
  height: auto;
}

#nsbe {
  width: 70px;
  height: auto;
}

#mentoransmentee {
  width: 700px;
  height: auto;
  align-items: stretch;
}

#contactUs {
  width: 850px;
  height: auto;
}

#diversityChapterInfo {
  width: 1000px;
  height: auto;
}

#opportunitiesImage {
  width: 700px;
  height: auto;
}

#teammembers {
  width: 700px;
  height: auto;
}



#pmentors { padding: 20px; border-radius: 10px; max-width: 500px; text-align: left;}

a {

}
